@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#parent {
    display: flex;
    width: 90vw;
}

.panel {
    height: 80vh;
    color: rgb(5, 0, 0);
    cursor: pointer;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: auto;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.panel h3 {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.expand {
    flex: 5;
}

.panel.expand h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    animation-delay: 0.4s;
}

@media(max-width : 480px){
    #parent {
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }
}
